// Colors
$color-red-brown: #967674;
$color-light-brown: #a2978c;
$color-deep-blue: #123a50;
$color-light-blue: #658894;
$color-mid-grey: #e5ebf0;
$color-light-grey: #edf4f4;

// Spacing
$spacing-m: 12px;
$spacing-m2: 16px;
$spacing-l: 24px;

// Misc
$container-radius: 8px;
$transition-speed-normal: 250ms;
