// Colors
$color-white: #ffffff;
$color-red-brown: #8e2f29;
$color-green: #029243;
$color-deep-blue: #0b2a3b;
$color-light-blue: #008cbe;
$color-mid-grey: #e0e3e6;
$color-light-grey: #d6dede;
$color-super-light-grey: #eaf2f2;

// Spacing
$spacing-sm: 8px;
$spacing-m: 12px;
$spacing-m2: 16px;
$spacing-l: 24px;
$spacing-xl: 48px;

// Misc
$container-radius: 8px;
$transition-speed-normal: 350ms;
$transition-speed-fast: 200ms;
