.wrapper {
  @include flex-centered-content;
  width: 80%;
  max-width: 450px;
  min-height: 120px;
  background: $color-light-grey;
  border-radius: $container-radius;
  border: 3px solid $color-light-blue;
  padding: $spacing-l $spacing-m;
  font-size: 1.5rem;
  transition: $transition-speed-normal;
  box-shadow: 0 0 0.2rem $color-mid-grey, 0 0 0.1rem $color-mid-grey,
    0 0 2rem $color-light-blue, 0 0 0.4rem $color-light-blue;
}

.bpm {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  transition: $transition-speed-normal;

  .bpmDisplay {
    position: relative;
    width: 140px;
    font-size: 2.2rem;
    font-weight: bold;
    background: $color-super-light-grey;
    cursor: grab;
    border-radius: $container-radius;
    transition: inherit;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.playButton {
  margin-top: $spacing-l;
  font-size: 1.4rem;
  padding: $spacing-sm;
  width: 120px;
  background-color: $color-green;
  color: $color-white;
  @include button-with-hover;

  &.playing {
    background-color: $color-red-brown;
  }
}

.beatButton {
  @include button-with-hover;
  height: 140px;
  width: 140px;
  margin-left: $spacing-xl;
  border-radius: 100%;
  font-size: 2.2rem;
  background-color: $color-light-blue;
  color: $color-white;
  transition: $transition-speed-normal;

  &:active {
    background-color: $color-deep-blue;
  }
}

.detectingIndicator {
  @include flex-centered-content;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  font-size: 1.2rem;
  color: $color-red-brown;
  background: rgba(255, 255, 255, 0.8);
  animation: test-flash 2s infinite ease-in-out;

  @keyframes test-flash {
    0% {
      color: $color-red-brown;
    }
    50% {
      color: $color-white;
    }
  }
}
